@tailwind base;

@layer base {
    html,
    body {
        font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    }

    p {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .site-title {
        font-family: "Terminal Dosis", Arial, Helvetica, Geneva, sans-serif;
    }
}

@import "../styles/enlighterjs.dracula.min.css";
@tailwind components;
@tailwind utilities;
