@tailwind base;

@layer base {
    html,
    body {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
            Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    }

    p {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

@tailwind components;
@tailwind utilities;
